.list {
  height: 300px;
  border: 1px solid #8687c5;
  padding: 10px;
  border-radius: 30px;
  
}
div{
  padding: 5px;
}
.profileimg{
  display: flex;
  align-items: center;

}
.imgg{
  width: 15px;
  height: 15px;
}
.date{
  color: gray;
}
.title{
  font-weight: bold;
  font-size: 20px;
}
.tag{
  color: gray;
  font-size: 13px;
}
.delete_button{
  width: 100px;
  height: 30px;
  padding: 5px;
  margin: 8px;
  border:1px solid #8687c5;
  border-radius: 30px;
  background-color: #8687c5;
  color:white;
}
