.meotsa-introduce {
  align-items: left;
  padding: 10px;
  border: 1px solid #8687c5;
  border-radius: 30px;
}

.meotsa-logo {
  width: 80px;
  height: 45px;
  margin: 30px 10px 10px 10px;

}

.meotsa-introduce-text {
  flex: 1;
}


.meotsa-sec-container{
    display: flex;
}
