.neighbor-container {
  border: 1px solid #8687c5;
  width: 200px;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
}

.neighbor-title {
  font-size: 14px;
  font-weight: bold;
  color: darkblue;
}



.neighbor-container img {
  border-radius: 50%;
  border: 1px solid rgb(40, 40, 53);
  margin: 2px 2px 2px 2px
}
